services:
  rsk_learning_app:
    build: .
    depends_on:
      rsk_learning_db:
        condition: service_healthy
    restart: on-failure
    env_file:
      - .env
    volumes:
      - .:/app
    networks:
      - shared_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.admin_bot.rule=Host(`api.rosdk.ru`) && PathPrefix(`/learning`)"  
      - "traefik.http.routers.admin_bot.entrypoints=websecure"
      - "traefik.http.routers.admin_bot.tls.certresolver=le"
      - "traefik.http.services.admin_bot.loadbalancer.server.port=8011"
      

  # === PostgreSQL ===
  rsk_learning_db:
    image: postgres:17-alpine
    volumes:
      - learning_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2305
      POSTGRES_DB: rsk_learning
    ports:
      - "5445:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared_network

volumes:
  learning_postgres_data:

networks:
  shared_network:
    external: true 
